# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jekyll
_site/
.sass-cache/
.jekyll-metadata
.bundle/

# Ruby / Gems
Gemfile.lock
vendor/bundle/
.ruby-version
.ruby-gemset

# IDE / Editor specific
.idea/
.vscode/
*.swp
*~ 